
body {
	margin: 0;
	padding: 0;
}

.section {
	position: relative;
	overflow: hidden;
}

/*第一屏*/
.first {
	padding-top: 80px;
}

.first .logo {
	height: 186px;
	background: url(../images/logo.png) center center no-repeat;
}

.first .text {
	text-align: center;
	line-height: 1;
	margin: 80px 0 60px;
}

.first .info {
	height: 49px;
	background: url(../images/info_1.png) center center no-repeat;
}

/*第一屏动画*/
.first img {
	opacity: 0;
	margin: 0 30px;
}

.current.first img {
	opacity: 1;
	margin: 0;
	transition: all 1s ease-out 0.2s;
}

/*第二屏*/
.second {
	padding: 0 100px;
}

.second > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second .shield {
	width: 428px;
	height: 498px;
}

.second .shield img {
	display: block;
	float: left;
}

.second img:nth-child(1) {
	transform: translate(200px, 100px) rotate(45deg);
}

.second .info {
	width: 635px;
	height: 309px;
	background: url(../images/info_2.png);
}

/*第二屏动画*/
.current.second img {
	transform: translate(0, 0) rotate(0deg);
	transition: all 2s ease-in-out;
}

/*第三屏*/

.third {
	padding: 0 80px;
}

.third > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.third .info {
	width: 631px;
	height: 278px;
	background: url(../images/info_3.png);
}

.third .circle {
	width: 453px;
	height: 449px;
	background: url(../images/circle.png);
}

.third .rocket {
	width: 203px;
	height: 204px;
	background: url(../images/rocket.png);
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(200px, 204px);
}

/*第三屏动画*/
.current.third .rocket {
	transform: translate(950px, -240px);
	transition: all 1s ease-in-out;
}

/*第四屏*/
.fourth {
	padding: 0 85px;
}

.fourth > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fourth .search {
	width: 529px;
	height: 320px;
	position: relative;
	transform: translate(-115%, 0);
}

.fourth .info {
	width: 612px;
	height: 299px;
	background: url(../images/info_4.png);
}

.fourth .input {
	width: 529px;
	height: 66px;
	background: url(../images/search.png);
}

.fourth .key {
	position: absolute;
	top: 24px;
	left: 20px;
	/*width: 100px;*/
	width: 0;
	height: 22px;
	background: url(../images/key.png);
}

.fourth .wrap {
	position: absolute;
	top: 53px;
	width: 529px;
	height: 372px;
	overflow: hidden;
}

.fourth .result {
	width: 100%;
	height: 100%;
	background: url(../images/result.png);
	transform: translate(0, -100%);
}

/*第四屏动画*/
.current.fourth .search {
	transform: translate(0, 0);
	transition: all 1s ease-in-out;
}

.current.fourth .key {
	animation: typing 1.5s steps(5) 1.3s forwards;
}

.current.fourth .result {
	transform: translate(0, 0);
	transition: all 0.5s ease-in-out 2.8s;
}

@keyframes typing {
	from {

	}
	to {
		width: 100px;
	}
}

/*第五屏*/
.fifth {}

.fifth > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fifth .info {
	width: 100%;
	height: 134px;
	margin: 30px 0;
	background: url(../images/info_5.png) center center no-repeat;
}

.fifth .broswer {
	width: 1004px;
	flex: 1;
	position: relative;
	background-color: rgba(255, 255, 255, 0.15);
}

.fifth div[class$=side] {
	position: absolute;
}

.fifth .leftside {
	left: 0;
	height: 100%;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: translate(0, -100%);
	opacity: 0;
}

.fifth .topside {
	top: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: translate(100%, 0);
	opacity: 0;
}

.fifth .rightside {
	right: 0;
	height: 100%;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: translate(0, 100%);
	opacity: 0;
}

.fifth .topside {
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.5);
}

.fifth .toolbar {
	width: 1004px;
	height: 79px;
	background: url(../images/toolbar.png) center center no-repeat;
	opacity: 0;
}

.fifth .box {
	position: absolute;
	top: 32px;
	left: 70px;
	/*width: 920px;*/
	width: 0;
	height: 26px;
	overflow: hidden;
}

.fifth .box span {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	box-sizing: border-box;
}

.fifth .extra {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 29px;
	opacity: 0;
	background: url(../images/extra.png) right bottom no-repeat;
}

.fifth .line {
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.5);
}

.current.fifth .leftside {
	transform: translate(0, 0);
	opacity: 1;
	transition: all 1s ease-in-out;
}

.current.fifth .topside {
	transform: translate(0, 0);
	opacity: 1;
	transition: all 1s ease-in-out 0.5s;
}

.current.fifth .rightside {
	transform: translate(0, 0);
	opacity: 1;
	transition: all 1s ease-in-out 0.5s;
}

.current.fifth .toolbar {
	transition: all 2s ease-in-out 1.5s;
	opacity: 1;
}

.current.fifth .box {
	transition: all 1s ease-in-out 1.5s;
	width: 920px;
}

.current.fifth .extra {
	opacity: 1;
	transition: all 1s ease-in-out 1.5s;
}